// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper_register {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.register_image {
  width: 100%;
  height: 100vh;
}

.register_image_back {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.register_font_area {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.register_font {
  display: flex;
  position: relative;
  color: #ffffff;
  font-size: 80px;
  font-weight: 70;
  font-family: "HiraKakuProN-W6", "Arial Black";
  width: 100%;
  padding-left: 70%;
}

.register_form_area {
  position: absolute;
  width: 39.5%;
  top: 9%;
  right: 57.5%;
}

.register_form {
  width: 90%;
  height: 100%;
  position: absolute;
  top: 5%;
  left: 18%;
}

.register_text_form {
  width: 80%;
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  height: 35px;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px rgb(224, 224, 224) inset;
}

.register_text_form:focus {
  outline: 0;
  background-color: rgba(255, 255, 255, 0.1);
}

.register_form_font_top {
  color: black;
  margin-top: 20px;
  font-weight: bold;
  font-size: 14px;
}

.register_form_font {
  color: black;
  margin-top: 30px;
  font-weight: bold;
  font-size: 14px;
}

.register_submit_outer {
  text-align: center;
  margin-top: 35px;
  position: absolute;
  width: 90%;
}

.register_submit_inner {
  background-color: transparent;
  padding: 4px 0px;
  position: absolute;
  width: 40%;
  cursor: pointer;
  border: 1px solid #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  left: 0%;
}

.register_submit_inner:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.or {
  padding-left: 40%;
  color: #7f93bb;
  padding-top: 1%;
  font-size: 20px;
}

div.field_with_errors .form-control {
  background-color: rgba(255, 0, 0, 0.2);
}
