// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper_register {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.register_image {
  width: 100%;
  height: 100vh;
}

.register_font_area {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.register_font {
  display: flex;
  position: relative;
  color: #f54141;
  font-size: 100px;
  font-weight: 70;
  font-family: "HiraKakuProN-W6", "Arial Black";
  width: 50%;
  padding-left: 20px;
}

.register_form_area {
  position: absolute;
  width: 39.5%;
  height: 82%;
  top: 10.5%;
  left: 57.5%;
}

.register_form {
  width: 90%;
  height: 100%;
  position: absolute;
  top: 5%;
  left: 4.5%;
}

.register_text_form {
  width: 100%;
  background-color: transparent;
  border: 1px solid #000000;
  margin-top: 10px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
  height: 35px;
}

.register_text_form:focus {
  outline: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.register_form_font {
  color: black;
  margin-top: 30px;
  font-weight: bold;
}

.register_submit {
  margin-top: 10px;
}

div.field_with_errors .form-control {
  background-color: rgba(255, 0, 0, 0.2);
}
