// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper_top {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
.wrapper_image {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.top_left {
  display: flex;
  width: 50%;
  height: 100vh;
}

.button_left {
  width: 50%;
  height: 25vh;
  left: 25%;
  top: 40%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 2em;
  color: #2285b1;
  font-size: 30px;
  font-weight: 70;
  border: 3px solid #a0c4d3;
  border-radius: 10px;
}

.top_right {
  display: flex;
  width: 50%;
  height: 100vh;
}

.button_right {
  width: 50%;
  height: 25vh;
  left: 25%;
  top: 40%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 2em;
  color: #2285b1;
  font-size: 30px;
  font-weight: 70;
  border: 3px solid #a0c4d3;
  border-radius: 10px;
}
