// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body {
  overflow: hidden;
  //スクロール禁止
}

.wrapper_top {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
.wrapper_top2 {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
.wrapper_image {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.wrapper_image2 {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.top_center a {
  position: absolute;
  bottom: 3%;
  left: 46.5%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fac720;
  font: normal 400 35px/1 "cursive", cursive;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
  font-weight: 900;
}

.top_center2 a {
  position: absolute;
  bottom: 3%;
  left: 46.5%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: rgb(0, 0, 0);
  font: normal 400 35px/1 "cursive", cursive;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
  font-weight: 900;
}

#scroll1 span {
  position: absolute;
  bottom: 17%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fac720;
  opacity: 0.5;
  border-bottom: 1px solid #fac720;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

#scroll2 span {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb2 1.5s infinite;
  animation: sdb2 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb2 {
  0% {
    -webkit-transform: rotate(-225deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-225deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb2 {
  0% {
    transform: rotate(-225deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-225deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.top_left {
  width: 50%;
  height: 100vh;
}

.font_left {
  display: flex;
  top: 10%;
  position: relative;
  color: #2285b1;
  font-size: 80px;
  font-weight: 70;
  font-family: "HiraKakuProN-W6", "Arial Black";
  width: 50%;
}

.register_left {
  display: flex;
  top: 25%;
  width: 45%;
  height: 10%;
  margin-left: 27%;
  position: relative;
  justify-content: space-around;
  align-items: center;
  padding: 0.3em 0.3em;
  font-size: 20px;
  font-weight: 70;
  border: 1px solid #000000;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: transparent;
}

.register_left a {
  position: absolute;
  padding-left: 37%;
  padding-top: 6%;
  height: 100%;
  width: 100%;
}

.register_left a:visited {
  color: #000000;
  text-decoration: none;
}

.register_left:hover {
  cursor: pointer;
}

.top_right {
  display: flex;
  width: 50%;
  height: 100vh;
}

.button_right {
  width: 50%;
  height: 25vh;
  left: 25%;
  top: 40%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 2em;
  color: #2285b1;
  font-size: 30px;
  font-weight: 70;
  border: 3px solid #a0c4d3;
  border-radius: 10px;
}
